/* General Styles */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:linear-gradient(to right, #000000,  #152138);
    margin: 0;
    padding: 0;
    
    color: #ffffff;
}

header {
 position: relative;
    height: 30vh;
    border-bottom: 1px solid #dddddd00;
    
}
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #00000082 25%, rgba(0, 0, 0, 0.618)); /* Adjust gradient */
    z-index: 0; /* Keep it above the video */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative; 
}
h1 img{
    margin-right: 12px;
    width: 100px;
    height: 100px;
}
h1 {
    
    font-size: 2.5em;
    margin: 0;
}



header p {
    margin: 5px 0 20px 110px;
    font-size: 1.2em;
    color: #bababa;
}
.nav-toggle {
    display: none;
    
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Wrap items on smaller screens */
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #e0e0e0;
    font-weight: bold;
    border-bottom: 3px solid rgb(222, 222, 222);
    padding: 5px 10px;
    border-radius: 14px;
}

nav ul li a:hover {
    color: rgb(0, 175, 244);
    border-bottom: 3px solid rgb(0, 175, 244);
}

.articles {
    background-color: #ffffff00;
    padding: 50px 0;
    color: white;
}

.articles h2 {
    background: -webkit-linear-gradient(left, #2d3ef7, #7554f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
    margin-bottom: 30px;
    text-align: center;
}

/* Remove slider behavior */
.slider-container {
    overflow-x: unset;
    border: none;
    display: block;
}

/* Grid layout for articles */
.articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: start;
}

.article {
    background-color: #31313125;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 14px;
}

.article img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.article h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.article p {
    font-size: 0.9em;
    color: #5b5b5b;
}

.services {
    padding: 50px 0;
    background-color: #ffffff00;
}

.service-card {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f500;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.service-card img {
    width: 100%;
    border-radius: 10px;
}

.service-card h3 {
    font-size: 1.5em;
    margin: 20px 0 10px;
}

.service-card p {
    font-size: 1em;
    color: #acacac;
    margin-bottom: 20px;
}

.service-card button {
    padding: 10px 20px;
    font-size: 1em;
    color: #cdcdcd;
    background: linear-gradient(to right, #ae00ff, #031cff);
    border: none;
    border-radius: 14px;
    cursor: pointer;
}
.service-card button a{
   color: white;
   text-decoration: none;
}

.service-card button:hover {
    background: linear-gradient(to right, #00c106, #00b29d);
    
}

.services .container {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.site-footer {
    display: grid;
    grid-template-areas: 'ttt fff';
    grid-template-columns: 2fr 1fr;
    background-color: #00005c;
    color: #fff;
    padding: 30px;
    font-size: 0.9em;
    align-items: center; /* Align items vertically centered */
}

.footer-content {
    grid-area: ttt;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    border-bottom: 1px solid #ccc; /* Adds the horizontal line */
    padding-bottom: 10px; /* Adds some space below the line */
}

.footer-content2 {
    grid-area: fff;
    max-width: 1000px;
    margin: 0 auto;
    text-align: right;
    border-left: 1px solid #ccc;
    padding-left: 20px;
    padding-top: 10px; /* Adds some space above the content */
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-info {
    margin: 0;
    font-size: 0.9em;
    color: #ccc;
}
.email{
    color: #ccc;
}
.email:hover{
    color: rgb(0, 64, 255);
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container h1{
        display: flex;
        flex-direction: column;
        font-size: 25px;
    }
 
    header p {
        margin: 5px 0 20px ;
        font-size: 0.9em;
        color: #909090;
    }
    nav ul li a {
        background: linear-gradient(to right, #ae00ff, #031cff);
        border-bottom: none;
        border-radius: 5px;
        color: white;
    }
    .nav-toggle {
        height: 20px;
        width: 20px;
        color: white;
        left: 90%;
        display: inline-block;
        font-size: 20px;
        background: none;
        border: none;
        cursor: pointer;
        position: relative;
        right: 20px; /* Align it to the right inside the container */
        transform: translateY(-50%); /* Correct vertical alignment */
    }
    

    nav ul {
        margin-left: 20px;
        float: left;
        display: none;
        margin-top: 70px;
        width: 80%;
        flex-direction: column;
        align-items: center;
        background:linear-gradient(to right, #000000cf,  #000000d1);
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        padding: 26px;
        border: 1px solid #000000e8;
        border-radius: 14px;
        z-index: 9;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .articles h2 {
        font-size: 1.5em;
    }

    .service-card h3 {
        font-size: 1.2em;
    }

    .services .container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .footer-content2 {
        border-bottom: 1px solid white;
        border-left: none;
        padding-left: 10px;
        padding-bottom: 10px;
         /* Adds some space above the content */
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2em;
    }

    .articles-grid {
        grid-template-columns: 1fr;
    }

    .service-card {
        margin-bottom: 20px;
    }
}

.missions {
    background-color: #ffffff00;
    padding: 50px 0;
    color: rgb(211, 211, 211);
}

.missions h2 {
    font-size: 2em;
    margin-bottom: 30px;
    text-align: center;
}

.missions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.mission {
    background-color: #4c4c4c32;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.mission img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.mission h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.mission p {
    font-size: 1em;
    color: #bebebe;
}
.astronauts {
    background-color: #ffffff00;
    padding: 50px 0;
}

.astronauts h2 {
    font-size: 2em;
    margin-bottom: 30px;
    text-align: center;
}

.astronauts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.astronaut {
    background-color: #5d5d5d22;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.astronaut img {
    max-width: 100%;
    border-radius: 100px;
    margin-bottom: 15px;
}

.astronaut h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.astronaut p {
    font-size: 1em;
    color: #bfbfbf;
}

.research {
    background-color: #ffffff00;
    padding: 50px 0;
    color: white;
}

.research h2 {
    font-size: 2em;
    margin-bottom: 30px;
    text-align: center;
}

.research-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.research-item {
    background-color: #5b5b5b38;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.research-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.research-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.research-item p {
    font-size: 1em;
    color: #a0a0a0;
}
.telescope {
    background-color: #ffffff00;
    padding: 50px 0;
    color: rgb(214, 214, 214);
}

.telescope h2 {
    font-size: 2em;
    margin-bottom: 30px;
    text-align: center;
}

.telescope-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.telescope-item {
    background-color: #42424244;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.telescope-item img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.telescope-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.telescope-item p {
    font-size: 1em;
    color: #c4c4c4;
}
.event {
    background-color: #ffffff00;
    padding: 50px 0;
    color: white;
}

.event-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event img {
    max-width: 80%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.event p{
    font-size: 1.1em;
    color: #dddddd;
    line-height: 1.6;
}


.event-text {
    max-width: 800px;
    text-align: center;
}

.event-text h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.event-text p {
    font-size: 1.1em;
    color: #bfbfbf;
    line-height: 1.6;
}
.about {
    background-color: #ffffff00;
    padding: 50px 0;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #dadada;
}

.about-content p {
    font-size: 1.1em;
    color: #cdcdcd;
    line-height: 1.6;
    margin-bottom: 20px;
}
.terms-of-service {
    background-color: #ffffff00;
    padding: 50px 0;
}

.terms-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

.terms-content h2 {
    font-size: 2.5em;
    margin-bottom: 35px;
    color: #d1d1d1;
}

.terms-content h3 {
    font-size: 1.8em;
    margin-top: 20px;
    color: #d0d0d0;
}

.terms-content p {
    font-size: 1em;
    color: #c2c2c2;
    line-height: 1.6;
    margin-bottom: 20px;
}


body::-webkit-scrollbar {
    width: 12px;
}


body::-webkit-scrollbar-track {
    background: #f1f1f1; 
}


body::-webkit-scrollbar-thumb {
    background-color: #686868; 
    border-radius: 6px;
    border: 3px solid #f1f1f1;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #323232; 
}


.career-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff00; /* Dark blue background */
    color: #eaeaea; /* White text color */
    padding: 70px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
}

.career-container h2 {
    color: #c5c5c5; /* Green color for heading */
    font-size: 36px;
    margin-bottom: 20px;
}

.career-container p {
    color: #a0a0a0;
    margin-bottom: 40px;
    font-size: 16px;
}

.benefits-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.benefit {
    background-color: #f0f0f034;/* Slightly darker background for each box */
    padding: 15px;
    border-radius: 10px;
}

.benefit h3 {
    color: #c8c8c8;
    font-size: 18px;
    margin-bottom: 10px;
}

.benefit p {
    color:  #b4b4b4; /* Light grey text color */
    font-size: 14px;
}


.space-platform {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(213, 213, 213);
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.space-platform h1 {
    color: #c9c9c9f0;
    font-size: 2.5em;
}

.space-platform p {
    margin: 10px 0;
    color:  #8e8e8e;
}

.space-platform h2 {
    margin-top: 20px;
    font-size: 1.8em;
}

.space-platform ul li {
    color:  #b5b5b5;
}

.space-platformx {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(252, 252, 252);
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.space-platformx h1 {
    color: #d7d7d7f0;
    font-size: 2.5em;
}

.space-platformx p {
    margin: 10px 0;
    color:  #797979;
}
/*#toggleButton{
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}*/

#toggleButton{
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background: linear-gradient(to right, #ae00ff, #031cff);
    border:none;
    border-radius: 8px;
    margin: 15px;
    cursor: pointer;
}
#toggleButton:hover{
    padding: 10px 20px;
    font-size: 1em;
    color: rgb(87, 87, 87);
    background-color: rgb(86, 86, 86);
    border:none;
    border-radius: 8px;
    
    cursor: pointer;
}

#toggleButton2{
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    margin: 15px;
    background: linear-gradient(to right, #ae00ff, #031cff);
    border:none;
    border-radius: 8px;
  
    cursor: pointer;
}
#toggleButton2:hover{
    padding: 10px 20px;
    font-size: 1em;
    color: rgb(87, 87, 87);
    background-color: rgb(86, 86, 86);
    border:none;
    border-radius: 8px;
    
    cursor: pointer;
}
.company-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.company-logos img {
    padding: 20px;
    flex: 1 1 80px; /* Adjust the minimum width to 80px */
    border: 1px ;
    border-radius: 30px;
    width: 80px; /* Reduce the width to make the logos smaller */
    height: auto;
    margin: 10px;
}
/* Responsive adjustments */
@media (min-width: 768px) {
    .company-logos img {
        flex: 1 1 150px; /* Adjust the minimum width on larger screens */
        max-width: 150px;
    }
}

@media (min-width: 1024px) {
    .company-logos img {
        flex: 1 1 200px; /* Further adjust the minimum width on even larger screens */
        max-width: 200px;
    }
}
